- name: Install base packages
  apt:
    name:
      - git
      - python3-venv
      - python3-pip
      - python3-psycopg2
      - nginx
      - build-essential
      - curl
      - ca-certificates
      - nodejs
      - npm
    state: present
    update_cache: true
