/* @import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/Vazirmatn-font-face.css'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Vazirmatn", "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #0f172a;
  background-color: #f8fafc;
  direction: rtl;
  text-align: right;
}
